:root {
  --scrollbar: rgba(0, 0, 0, 0.2);
  --black-025: #fafafb;
  --black-050: #eff0f1;
  --black-075: #e4e6e8;
  --black-100: #d6d9dc;
  --black-150: #c8ccd0;
  --black-200: #bbc0c4;
  --black-300: #9fa6ad;
  --black-350: #9199a1;
  --black-400: #848d95;
  --black-500: #6a737c;
  --black-600: #535a60;
  --black-700: #3c4146;
  --black-750: #2f3337;
  --black-800: #242729;
  --black-900: #0c0d0e;
  --orange-050: #fff7f2;
  --orange-100: #fee3cf;
  --orange-200: #fcd0ad;
  --orange-300: #f7aa6d;
  --orange-400: #f48024;
  --orange-500: #f2720c;
  --orange-600: #da670b;
  --orange-700: #bd5c00;
  --orange-800: #a35200;
  --orange-900: #874600;
  --blue-050: #f2f9ff;
  --blue-100: #cfeafe;
  --blue-200: #addafc;
  --blue-300: #6cbbf7;
  --blue-400: #379fef;
  --blue-500: #0095ff;
  --blue-600: #0077cc;
  --blue-700: #0064bd;
  --blue-800: #0054a3;
  --blue-900: #004487;
  --powder-050: #f4f8fb;
  --powder-100: #e1ecf4;
  --powder-200: #d1e5f1;
  --powder-300: #b3d3ea;
  --powder-400: #a0c7e4;
  --powder-500: #7aa7c7;
  --powder-600: #5b8db1;
  --powder-700: #39739d;
  --powder-800: #2c5777;
  --powder-900: #1e3c52;
  --green-025: #eef8f1;
  --green-050: #dcf0e2;
  --green-100: #cae8d4;
  --green-200: #a6d9b7;
  --green-300: #82ca9a;
  --green-400: #5eba7d;
  --green-500: #48a868;
  --green-600: #3d8f58;
  --green-700: #2f6f44;
  --green-800: #29603b;
  --green-900: #1e472c;
  --yellow-050: #fdf7e3;
  --yellow-100: #fbf2d4;
  --yellow-200: #f1e5bc;
  --yellow-300: #e6d178;
  --yellow-400: #e9c63f;
  --yellow-500: #ddb624;
  --yellow-600: #cea51b;
  --yellow-700: #b89516;
  --yellow-800: #9f8010;
  --yellow-900: #826a0b;
  --red-050: #fdf3f4;
  --red-100: #f9d3d7;
  --red-200: #f4b4bb;
  --red-300: #e87c87;
  --red-400: #de535e;
  --red-500: #d1383d;
  --red-600: #c02d2e;
  --red-700: #ac2726;
  --red-800: #942121;
  --red-900: #7a1819;
}
body {
  background-color: #f4e2bf;
}
.found-content blockquote,
.marked-content blockquote {
  display: block;
  background: var(--yellow-100);
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--black-600);

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;
}

.found-content blockquote::before,
.marked-content blockquote::before{
  content: "\201C";
  /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;

}

.found-content blockquote::after,
.marked-content blockquote::after {
  /*Reset to make sure*/
  content: "";
}

.copy_icon {
  text-align: left;
  font-size: 1.4rem;
}
.copy_icon,
.edit-icon {
  color: var(--black-800);
}

.copy_icon:hover,
.edit-icon:hover {
  color: var(--black-600);
}
.button-row {
  /* text-align: right; */
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.button-row button {
  float: right;
  margin-left: 4px;
  
}
.btn-row-key {
  padding-top: 0.8em;
  padding-bottom: 2em;
}
.btn-col-key {
  text-align: center;
}
.btn-row-key-header {
  font-size: 1.3em;
}
.btn-col-key-header {
  text-align: center;
}
.inner {
  position: relative;
  max-width: 750px;
  padding: 20px 10px;
  margin: 0 auto;
}

footer {
  color: #e1ddbf;
}
.outer {
  background-color: #f4e2bf;
}

.disclaimer{
  font-size: 0.8em;
}
.source-code {
  font-size: 0.8em;
}
/* Honeypot */
.hp{
  display: none;
}
.chevron {
  float: right;
}
.glyph-toggle,
.chevron {
  color: inherit;
}
.chevron > a {
  color: inherit;
}
.card.card-links {
  word-wrap: normal;
}
.card-user-manual {
  margin-top: 5px;
}
.main-content {
  padding-top: 20px;
}
.row-main {
  margin-bottom: 0.3rem;
}
.row.row-full-height {
  height: 100%;
  min-height: 100%;
}
.inputpane {
  margin-top: 5px;
  padding: 0.6em;
  border: 1px solid #ccc;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
}
.modal {
  background-color: white;
}
.modal-container {
  flex-basis: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.modal-dialog.modal-dialog-full {
  max-width: 100%;
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

.modal-content.modal-content-full {
  /* height: auto; */
  min-height: 100%;
  height: 100%;
  border-radius: 0;
}

.modal-footer {
  border-top: none;
}

.makdownrow {
  height: 100%;
  min-height: 100%;
}
.list-group.list-group-links>a {
  background-color: #e8c37d;
}
.list-group.list-group-links>a:hover {
  background-color: rgb(241, 183, 96);
}

.ekko-lightbox.modal {
  background-color: black;
}
.found-content pre,
.marked-content pre {
  margin-bottom: 1em;
  padding: 12px 8px;
  width: auto;
  max-height: 600px;
  overflow: auto;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,  Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
  font-size: 13px;
  background-color: var(--black-050);
  border-radius: 3px;
scrollbar-color: var(--scrollbar) transparent;
}
textarea#markdown {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  resize: none;
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}
.marked-content {
  overflow: auto;
  /* overflow-y: scroll; */
  height: 100%;
}
#url {
  height: 50px;
}
#chipher,
#plain,
#url {
  white-space: pre;
  overflow: auto;
  resize: vertical;
  font-family: monospace;
}

#header_wrap {
  background: #04253a;
}

#btn_generate_key,
#btngenq {
  float: right;
}

#btnswap {
  float: left;
}

#project_title {
  margin: 0;
  color: #e1ddbf;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0 0 10px;
  text-decoration: none;
}

#project_tagline {
  color: #e1ddbf;
  font-size: 24px;
  font-weight: 700;
  background: 0 0;
  text-shadow: #111 0 0 10px;
  text-decoration: none;
}


#footer_wrap {
  background: #04253a;
  text-decoration: none;
}
