:root {
  --scrollbar: rgba(0, 0, 0, 0.2);
  --black-025: #fafafb;
  --black-050: #eff0f1;
  --black-075: #e4e6e8;
  --black-100: #d6d9dc;
  --black-150: #c8ccd0;
  --black-200: #bbc0c4;
  --black-300: #9fa6ad;
  --black-350: #9199a1;
  --black-400: #848d95;
  --black-500: #6a737c;
  --black-600: #535a60;
  --black-700: #3c4146;
  --black-750: #2f3337;
  --black-800: #242729;
  --black-900: #0c0d0e;
}
body {
  background-color: #f4e2bf;
}
.copy_icon {
  text-align: left;
  font-size: 1.4rem;
}
.copy_icon,
.edit-icon {
  color: var(--black-800);
}

.copy_icon:hover,
.edit-icon:hover {
  color: var(--black-600);
}
.button-row {
  /* text-align: right; */
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.button-row button {
  float: right;
  margin-left: 4px;
  
}
.btn-row-key {
  padding-top: 0.8em;
  padding-bottom: 2em;
}
.btn-col-key {
  text-align: center;
}
.btn-row-key-header {
  font-size: 1.3em;
}
.btn-col-key-header {
  text-align: center;
}
.inner {
  position: relative;
  max-width: 750px;
  padding: 20px 10px;
  margin: 0 auto;
}

footer {
  color: #e1ddbf;
}
.outer {
  background-color: #f4e2bf;
}

.disclaimer{
  font-size: 0.8em;
}
.source-code {
  font-size: 0.8em;
}
/* Honeypot */
.hp{
  display: none;
}
.chevron {
  float: right;
}
.glyph-toggle,
.chevron {
  color: inherit;
}
.chevron > a {
  color: inherit;
}
.card.card-links {
  word-wrap: normal;
}
.card-user-manual {
  margin-top: 5px;
}
.main-content {
  padding-top: 20px;
}
.row-main {
  margin-bottom: 0.3rem;
}
.row.row-full-height {
  height: 100%;
  min-height: 100%;
}
.inputpane {
  margin-top: 5px;
  padding: 0.6em;
  border: 1px solid #ccc;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
}
.modal {
  background-color: white;
}
.modal-container {
  flex-basis: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.modal-dialog.modal-dialog-full {
  max-width: 100%;
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

.modal-content.modal-content-full {
  /* height: auto; */
  min-height: 100%;
  height: 100%;
  border-radius: 0;
}

.modal-footer {
  border-top: none;
}

.makdownrow {
  height: 100%;
  min-height: 100%;
}
.list-group.list-group-links>a {
  background-color: #e8c37d;
}
.list-group.list-group-links>a:hover {
  background-color: rgb(241, 183, 96);
}

.ekko-lightbox.modal {
  background-color: black;
}
.found-content pre {
  margin-bottom: 1em;
  padding: 12px 8px;
  width: auto;
  max-height: 600px;
  overflow: auto;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,  Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
  font-size: 13px;
  background-color: var(--black-050);
  border-radius: 3px;
scrollbar-color: var(--scrollbar) transparent;
}
textarea#markdown {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  resize: none;
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}
.marked-content {
  overflow: auto;
  /* overflow-y: scroll; */
  height: 100%;
}
#url {
  height: 50px;
}
#chipher,
#plain,
#url {
  white-space: pre;
  overflow: auto;
  resize: vertical;
  font-family: monospace;
}

#header_wrap {
  background: #04253a;
}

#btn_generate_key,
#btngenq {
  float: right;
}

#btnswap {
  float: left;
}

#project_title {
  margin: 0;
  color: #e1ddbf;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0 0 10px;
  text-decoration: none;
}

#project_tagline {
  color: #e1ddbf;
  font-size: 24px;
  font-weight: 700;
  background: 0 0;
  text-shadow: #111 0 0 10px;
  text-decoration: none;
}


#footer_wrap {
  background: #04253a;
  text-decoration: none;
}
