body {
  background-color: #f4e2bf;
}
.copy_icon {
  text-align: left;
  font-size: 1.4rem;
}
.copy_icon>a {
  /* display: block; */
  color: black;
}

.button-row {
  /* text-align: right; */
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.button-row button {
  float: right;
  margin-left: 4px;
  
}
.btn-row-key {
  padding-top: 0.8em;
  padding-bottom: 2em;
}
.btn-col-key {
  text-align: center;
}
.btn-row-key-header {
  font-size: 1.3em;
}
.btn-col-key-header {
  text-align: center;
}
.inner {
  position: relative;
  max-width: 750px;
  padding: 20px 10px;
  margin: 0 auto;
}

footer {
  color: #e1ddbf;
}
.outer {
  background-color: #f4e2bf;
}

.disclaimer{
  font-size: 0.8em;
}
.source-code {
  font-size: 0.8em;
}
/* Honeypot */
.hp{
  display: none;
}
.chevron {
  float: right;
}
.glyph-toggle,
.chevron {
  color: inherit;
}
.chevron > a {
  color: inherit;
}
.card.card-links {
  word-wrap: normal;
}
.card-user-manual {
  margin-top: 5px;
}
.main-content {
  padding-top: 20px;
}
.row-main {
  margin-bottom: 0.3rem;
}
#url {
  height: 50px;
}
#chipher,
#plain,
#url {
  white-space: pre;
  overflow: auto;
  resize: vertical;
  font-family: monospace;
}

#header_wrap {
  background: #04253a;
}

#btn_generate_key,
#btngenq {
  float: right;
}

#btnswap {
  float: left;
}

#project_title {
  margin: 0;
  color: #e1ddbf;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0 0 10px;
  text-decoration: none;
}

#project_tagline {
  color: #e1ddbf;
  font-size: 24px;
  font-weight: 700;
  background: 0 0;
  text-shadow: #111 0 0 10px;
  text-decoration: none;
}


#footer_wrap {
  background: #04253a;
  text-decoration: none;
}
